
/* SECTION 3 */
.advise{
    padding: 125px 195px 80px;
}
.sec3-card{
    max-width: 230px;
    background-color: var(--white);
    margin: 20px;
    transition: 0.3s;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.197);
}
.sec3-card:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.778);
}
.s3card-txt{
    padding: 25px;
}
.s3card-txt p{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: var(--gray);
}


@media (max-width: 1285px){
    .advise{
        padding: 125px 100px 80px;
    }
}
@media (max-width: 600px){
    .advise{
        padding: 100px 50px 80px;
    }
}
@media (max-width: 450px){
    .about, .advise{
        padding: 100px 25px 80px;
    }
}
