
/* SECTION 6 */

.section-6{
    background-color: rgba(211, 211, 211, 0.344);
}
.contact{
    padding: 80px 195px 208px;
}
.sec6-box{
    display: flex;
    justify-content: space-between;
}
.sec6-card{
    padding: 50px 40px;
    text-align: center;
    background-color: var(--white);
    transition: 0.5s;
}
.sec6-card:hover{
    background-color: #252B42;
}
#s6-midcard:hover path{
    fill: var(--white);
} 
.sec6-card h3{
    transition: 0.5s;
}
.sec6-card:hover h3{
    color: var(--white);
} 
.sec6-card:hover p{
    color: var(--white);
} 
.sec6-card:hover a{
    color: var(--white);
    border-color: var(--white) white;
}
.sec6-card:hover path{
    fill: var(--white) !important;
}
.sec6-card *{
    margin-top: 15px;
}
.sec6-card a{
    display: inline-block;
    padding: 15px 25px;
    color: var(--orange); 
    border: 2px solid var(--orange);
    border-radius: 5px;
}
#s6-midcard path{
    fill: var(--blue);
}


@media (max-width: 1285px){
    .contact{
        padding: 80px 100px 208px;
    }
}
@media (max-width: 1250px){
    .sec6-box{
        flex-direction: column;
    }
    .sec6-card{
        width: 100%;
    }
}
@media (max-width: 1000px){
    .sec6-card{
        border: 1px solid rgba(211, 211, 211, 0.344);
    }
}
@media (max-width: 750px){
    .sec6-card{
        margin-top: 40px;
    }

}
@media (max-width: 600px){
    .contact{
        padding: 80px 50px 208px;
    }
}
@media (max-width: 450px){
    .contact{
        padding: 80px 25px 208px;
    }
}