/* SECTION 7 */

.form{
    padding: 100px 195px;
}
.form *{
    margin-top: 15px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
select {
  padding: 15px 20px;
  width: 100%;
  font-size: 20px;
}
form *:focus {
    outline: 1.5px solid var(--orange);
    border: none;
  }
.inputBox{
    position: relative;
}
.inputBox label{
    position: absolute;
    left: 15px;
    top: 18px;
    padding: 0 5px;
    font-size: 18px;
    transition: 0.3s;
    color: gray;
    background-color: var(--white);
}
.inputBox input:focus ~ label{
    top: -9px;
    color: var(--blue);
    font-size: 14px;
    padding: 0 5px;
}

input::placeholder {
    font-size: 16px;
    opacity: 0;
    transition: 0.5s;
}
.inputBox input:focus::placeholder{
    opacity: 1;
}

textarea {
    font-size: 20px;
    padding: 20px;
    width: 100%;
    max-height: 300px;
    min-height: 200px;
    resize: vertical;
}

option {
    padding: 10px 0;
    font-size: 20px;
}
.sec7-btn{
    text-align: center;
    padding-top: 60px;
}
.sec7-btn button{
    font-size: 15px;
    padding: 15px 40px;
    color: var(--white);
    background-color: var(--orange);
    border-radius: 5px;   
    transition: 0.1s;
    border: none;
}
.sec7-btn button:hover{
    background-color: rgb(249, 133, 0);
}


@media (max-width: 1285px){
    .form{
        padding: 100px;
    }
}
@media (max-width: 600px){
    .form{
        padding: 100px 50px;
    }
}
@media (max-width: 450px){
    .form{
        padding: 100px 25px;
    }
}