
/* SECTION 1 */

.section-1{
    background-image: url(../IMG/cover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.home{
    padding: 200px 195px 268px;
}
.sec1-content h1{
    font-weight: 800;
    font-size: 58px;
    max-width: 509px;
}
.sec1-content p{
    max-width: 376px;
    font-weight: 500;
    font-size: 20px;
    margin: 35px 0;
}
.sec1-content a{
    color: var(--blue);
    padding: 10px 36px;
    border: 2px solid var(--blue);
    border-radius: 37px;
    transition: 0.5s;
}
.sec1-content a:hover{
    color: var(--white);
    background-color: var(--orange);
    border: 2px solid var(--orange);
}

.sec1-box{
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-top: 150px;
    gap: 50px;
    /* padding-right: 195px; */
}
.sec1-card{
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    transition: 0.5s;
    background-color: var(--white);
    max-width: 328px;
}
.card-1{
    padding: 40px 68px 35px 40px;
}
.card-2{
    padding: 40px 23.54px 35px 40px;
}
.card-3{
    padding: 40px 68px 35px 40px;
}
#svg-3 path{
    fill:  var(--blue);
}
#svg-3:hover path{
    fill: white;
}
.sec1-card path, h2, p {
    transition: 0.5s;
}
.sec1-card h2{
    margin: 10px 0;
}
.sec1-card p{
    font-weight: 500;
    font-size: 14px;
}
.sec1-card:hover{
    background-color: var(--blue);
}
.sec1-card:hover path{
    fill: var(--white);
}
.sec1-card:hover h2{
    color: var(--white);
}
.sec1-card:hover p{
    color: var(--white);
}


@media (max-width: 1285px){
    .home{
        padding: 200px 100px 200px;
    }

}
@media (max-width: 1000px){
    .sec1-box{
        flex-direction: column;
        justify-content: center;
        position: static;
        padding-right: 0; 
        margin-top: 100px;
    }
    .sec1-card{
        max-width: none;
        width: 100%;
        padding-right: 23px;
        box-shadow: none;
    }
}
@media (max-width: 750px){
    .sec1-content a {
        display: block;
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }
}
@media (max-width: 600px){
    .home{
        padding: 200px 50px 200px;
    }
    .sec1-content{
        text-align: center;
    }
    .sec1-content h1{
        font-weight: 700;
        font-size: 40px;
    }
    .sec1-content p {
        max-width: none;
    }
}
@media (max-width: 450px){
    .home{
        padding: 150px 25px 150px;
    }
}