@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap);
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url(../CSS/common.css);
@import url(../CSS/header-min.css);
@import url(../CSS/home-min.css);
@import url(../CSS/about-min.css);
@import url(../CSS/advise-min.css);
@import url(../CSS/services-min.css);
@import url(../CSS/partner-min.css);
@import url(../CSS/contact-min.css);
@import url(../CSS/form-min.css);
@import url(../CSS/footer-min.css);


:root{
    --blue: #00A0C1;
    --orange: #FFA62B;
    --gray: #737373;
    --section-color: #FAFAFA;
    --section-color-2: #F3F3F3;
    --footer-color: #16697A;
    --contact-color: #252B42;
    --white: #ffffff;
}
