@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url(../CSS/common.css);
@import url(../CSS/header.css);
@import url(../CSS/home.css);
@import url(../CSS/about.css);
@import url(../CSS/advise.css);
@import url(../CSS/services.css);
@import url(../CSS/partner.css);
@import url(../CSS/contact.css);
@import url(../CSS/form.css);
@import url(../CSS/footer.css);


:root{
    --blue: #00A0C1;
    --orange: #FFA62B;
    --gray: #737373;
    --section-color: #FAFAFA;
    --section-color-2: #F3F3F3;
    --footer-color: #16697A;
    --contact-color: #252B42;
    --white: #ffffff;
}
